<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>About US</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="http://cssmoban.com" />
	<!-- css -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="/css/flexslider.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />
	<style>
		#sbiao li {
			padding-right: 35px;
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<p style="    font-size: 2em;padding-top: 18px;color: red;font-weight: 900;">襄阳牛肉面</p>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li><a class="waves-effect waves-dark" href="/index">首页</a></li>
							<li class="dropdown active">
								<a href="#" data-toggle="dropdown" class="dropdown-toggle waves-effect waves-dark">面食分类<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a class="waves-effect waves-dark" href="/beef">牛肉面、粉</a></li>
                                <li><a class="waves-effect waves-dark" href="/nood">素菜配菜面、粉</a></li>
                                <li><a class="waves-effect waves-dark" href="/drink">饮料</a></li>
                                <li><a class="waves-effect waves-dark" href="/other">其他</a></li>
								</ul>
							</li>
							<li><a class="waves-effect waves-dark" href="/click">点单</a></li>
							<li><a class="waves-effect waves-dark" href="/login">登录</a></li>
							<li><a class="waves-effect waves-dark" href="/resg">注册</a></li>
							<li><a class="waves-effect waves-dark" href="/contact">客户反馈</a></li>
							<li><a class="waves-effect waves-dark" href="/about">关于我们</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header><!-- end header -->
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="pageTitle">关于我们</h2>
					</div>
				</div>
			</div>
		</section>
		<section id="content">
			<section class="section-padding">
				<div class="container">
					<div class="row showcase-section">
						<div class="col-md-6">
							<img src="/img/dev1.png" alt="showcase image">
						</div>
						<div class="col-md-6">
							<div class="about-text">
								<h3>襄阳牛肉面<span class="color">品牌介绍</span></h3>
								<p>襄阳牛肉面源于中国古城·襄阳。
									其雏形为康熙元年、襄阳等地的回民街提供的牛肉。
									当时襄阳城回民街面对汉江，贸易港口对外开放，全国各大商会，
									所居此处，牛肉面真正普及起来，回民街经营的中华卤肉店，
									面条店或屋台（街上小档）开始在整条回民街不同地方出现。</p>
								<p>材料便宜而营养丰富的牛肉面，正好是各大商会，贸易港口搬运工，
									商人，当时最适合的食物，同时迎合外来商会人口味，改以调味，
									渐渐成为各行各业人喜爱的料理。</p>
								<p>上世纪六七十年代，牛肉面在全国各地已经成为特色的文化。
									到80年代后期，全国各地区都在研发别具地方特色风味的牛肉面，
									这些在全国各地发展起来的特色的牛肉面面文化逐渐被定型，
									而襄阳牛肉面正是在此时发展并形成自己的特色。</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="container">

				<div class="about">


					<div class="row">
						<div class="col-md-4">
							<!-- Heading and para -->
							<div class="block-heading-two">
								<h3><span>为什么选择我们？</span></h3>
							</div>
							<p>优质原料：总部自有原材料生产基地，统一配送，价格远低于市场价<br />
								牛肉面特色：面食作为大众饮食，消费群体较大，每一位消费者都是潜在的优质客户</p>
						</div>
						<div class="col-md-4">
							<div class="block-heading-two">
								<h3><span>详细信息</span></h3>
							</div>
							<!-- Accordion starts -->
							<div class="panel-group" id="accordion-alt3">
								<div class="panel">
									<!-- Panel heading -->
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-alt3"
												href="#collapseOne-alt3">
												<i class="fa fa-angle-right"></i> 营业时间
											</a>
										</h4>
									</div>
									<div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div style="text-align: center;" class="panel-body">
											夏令时: 5:30~11:30<br>
											冬令时: 6:00~11:00
										</div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-alt3"
												href="#collapseTwo-alt3">
												<i class="fa fa-angle-right"></i>详细地址
											</a>
										</h4>
									</div>
									<div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div style="text-align: center;" class="panel-body">
											湖北省武汉市<br>
											武昌区经济开发大道<br>
											开阳路107号
										</div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-alt3"
												href="#collapseThree-alt3">
												<i class="fa fa-angle-right"></i>外卖合作</a>
										</h4>
									</div>
									<div id="collapseThree-alt3" class="panel-collapse collapse">
										<div style="text-align: center;" class="panel-body">
											饿了么<br>
											美团外卖<br>
											大众点评<br>
											等各大点单软件均可点单
										</div>
									</div>
								</div>
							</div>
							<!-- Accordion ends -->

						</div>

						<div class="col-md-4">
							<div class="block-heading-two">
								<h3><span>顾客点评</span></h3>
							</div>
							<h6>好评率</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40"
									aria-valuemin="0" aria-valuemax="100" style="width: 88%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>味道</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60"
									aria-valuemin="0" aria-valuemax="100" style="width: 79%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>环境</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80"
									aria-valuemin="0" aria-valuemax="100" style="width: 68%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>服务</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30"
									aria-valuemin="0" aria-valuemax="100" style="width: 90%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer style="padding: 0;">
			<div id="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="copyright">
								<p>
									<span>&copy; 襄阳牛肉面 2021 All right reserved. </span>
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<ul id="sbiao" style="display: -webkit-box;">
								<li>telephone：13177754877</li>
								<li>email：2020990145@qq.com</li>
								<li>address：武汉CBD襄阳牛肉面</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/materialize/js/materialize.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.fancybox.pack.js"></script>
	<script src="/js/jquery.fancybox-media.js"></script>
	<script src="/js/jquery.flexslider.js"></script>
	<script src="/js/animate.js"></script>
	<!-- Vendor Scripts -->
	<script src="/js/modernizr.custom.js"></script>
	<script src="/js/jquery.isotope.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/animate.js"></script>
	<script src="/js/custom.js"></script>
</body>

</html>