<!DOCTYPE HTML>
<html>

<head>
	<title>登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- css files -->
	<link rel="stylesheet" href="/css/styles.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/css/fontawesome-all.css">
</head>

<body>
	<!-- title -->
	<h1>
		<span>襄阳</span>牛肉面
	</h1>
	<!-- //title -->

	<!-- content -->
	<div class="sub-main-w3">
		<form class="login" id="mainsub" action="/back" method="post" onsubmit="return check();">
			<fieldset>
                <p style="color:#f6e44a;text-align: center;font-size: 1.3em;" id="err">{{ errors }}</p>
				<p class="legend">登录<i class="far fa-hand-point-down"></i></p>
				<div class="input">
					<input type="text" placeholder="用户名" name="useName" required minlength="4"
						maxlength="8" />
					<span>
						<i class="fas fa-envelope"></i>
					</span>
				</div>
				<div class="input">
					<input type="password" id="password" placeholder="密码(6-14个字符，且包含字母和数字)" name="password" required
						pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,14}$" />
					<span>
						<i class="fas fa-lock-open"></i>
					</span>
				</div>
				<button type="submit" class="submit" style="margin-bottom: 36px;">
					<i class="fas fa-sign-in-alt"></i>
				</button>
                <a href="/back/resg" style="padding-left: 125px;color: aquamarine;">没有账户，点击注册</a>
			</fieldset>
		</form>

	</div>
	<!-- //content -->

	<!-- Jquery -->
	<script src="/js/jquery-2.2.3.min.js"></script>
	<!-- //Jquery -->
	<!-- script -->
	<script>
       if($('#err')[0].innerText === '[]'){
           document.getElementById('err').style.display = 'none'
       }

		$(".input").focusin(function () {
			$(this).find("span").animate({
				"opacity": "0"
			}, 200);
		});

		$(".input").focusout(function () {
			$(this).find("span").animate({
				"opacity": "1"
			}, 300);
		});

		$(".login").submit(function () {
			$(this).find(".submit i").removeAttr('class').addClass("fa fa-check").css({
				"color": "#fff"
			});
			$(".submit").css({
				"background": "#2ecc71",
				"border-color": "#2ecc71"
			});
			$(".feedback").show().animate({
				"opacity": "1",
				"bottom": "-80px"
			}, 400);
			$("input").css({
				"border-color": "#2ecc71"
			});
			// return false;
		});
	</script>
	<!-- //script -->

</body>

</html>