<!DOCTYPE HTML>
<html>

<head>
	<title>注册</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- css files -->
	<link rel="stylesheet" href="/css/styles.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/css/fontawesome-all.css">
</head>

<body>
	<!-- title -->
	<h1>
		<span>襄阳</span>牛肉面
	</h1>
	<!-- //title -->

	<!-- content -->
	<div class="sub-main-w3">
		<form class="login" id="mainsub" action="/login" method="post" onsubmit="return check();">
			<fieldset>
                <p style="color:#f6e44a;text-align: center;font-size: 1.3em;" id="err">{{ errors }}</p>
				<p class="legend">注册<i class="far fa-hand-point-down"></i></p>
				<div class="input">
					<input type="text" placeholder="用户名(长度4-8个字符)" name="useName" required minlength="4"
						maxlength="8" />
					<span>
						<i class="fas fa-envelope"></i>
					</span>
				</div>
				<div class="input">
					<input type="email" id="email" placeholder="邮箱" name="email" required />
					<span>
						<i class="fas fa-envelope"></i>
					</span>
				</div>
				<div class="input">
					<input type="password" id="password" placeholder="密码(6-14个字符，且包含字母和数字)" name="password" required
						pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,14}$" />
					<span>
						<i class="fas fa-lock-open"></i>
					</span>
				</div>
				<div class="input">
					<input type="password" id="passwords" placeholder="再次输入密码" name="passwordAgain" required />
					<span>
						<i class="fas fa-lock-open"></i>
					</span>
				</div>
                <div class="input">
					<input type="text"  placeholder="验证码" name="code" required />
					<span>
						<i class="fas fa-lock-open"></i>
					</span>
				</div>
				<button type="button" id="sendEmail" class="four"
            style="border-style: hidden;background-color: lavender;margin-left: 155px;margin-bottom: 27px;">发送验证码</button>
				<p  style="text-align: center;" id="text"></p>
				<button type="submit" class="submit" style="margin-bottom: 36px;">
				</button>
                <a href="/login" style="padding-left: 125px;color: aquamarine;">已有账户，点击登录</a>
			</fieldset>
		</form>
	</div>

	<!-- Jquery -->
	<script src="/js/jquery-2.2.3.min.js"></script>
	<!-- //Jquery -->
	<!-- script -->
	<script>
       if($('#err')[0].innerText === '[]'){
           document.getElementById('err').style.display = 'none'
       }
        
		let check = () => {
			if (document.getElementById("password").value !== document.getElementById("passwords").value) {
				alert("两次输入的密码不一致")
				return false;
			} else {
				return true;
			}
		}

		$('#sendEmail').on('click', () => {
			$.post('/sendEmail', { email: $('#email')[0].value }, function (response) {
				$('#text')[0].innerHTML = response.text
			})
		})

		$(".input").focusin(function () {
			$(this).find("span").animate({
				"opacity": "0"
			}, 200);
		});

		$(".input").focusout(function () {
			$(this).find("span").animate({
				"opacity": "1"
			}, 300);
		});
	</script>
	<!-- //script -->

</body>

</html>