<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>菜单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://cssmoban.com" />
    <!-- css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/flexslider.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <style>
        #btnan {
            border-style: hidden;
            background-color: white;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <p style="    font-size: 2em;padding-top: 18px;color: red;font-weight: 900;">襄阳牛肉面</p>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li><a class="waves-effect waves-dark" href="/back">首页</a></li>
                            <li><a class="waves-effect waves-dark" href="/back/main">切换账号</a></li>
                            <li><a class="waves-effect waves-dark" href="/back/showMenu">菜单</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        <section id="inner-headline">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="pageTitle">菜谱</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <section id="pricing">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 menuItem">
                            <ul class="menu">
                                {{each menu1}}
                                <li>
                                    {{$value.menuName}}
                                    <div class="detail">{{$value.introduce}}<span class="price">￥{{$value.price}}</span>
                                    </div>
                                    <button id="btnan" onclick="location.href='/back/upMenu?id={{$value.id}}'">修改</button> 
                                    <button id="btnan" onclick="location.href='/back/delMenu?id={{$value.id}}'">删除</button>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="col-md-4 menuItem">
                            <ul class="menu">
                                {{each menu2}}
                                <li>
                                    {{$value.menuName}}
                                    <div class="detail">{{$value.introduce}}<span class="price">￥{{$value.price}}</span>
                                    </div>
                                    <button id="btnan" onclick="location.href='/back/upMenu?id={{$value.id}}'">修改</button> 
                                    <button id="btnan" onclick="location.href='/back/delMenu?id={{$value.id}}'">删除</button>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="col-md-4 menuItem">
                            <ul class="menu">
                                {{each menu3}}
                                <li>
                                    {{$value.menuName}}
                                    <div class="detail">{{$value.introduce}}<span class="price">￥{{$value.price}}</span>
                                    </div>
                                    <button id="btnan" onclick="location.href='/back/upMenu?id={{$value.id}}'">修改</button> 
                                    <button id="btnan" onclick="location.href='/back/delMenu?id={{$value.id}}'">删除</button>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button type="button" style="margin-right: 476px;margin-top: 150px;width: 198px;height: 41px;"
                            class="btn btn-primary waves-effect waves-dark pull-right"
                            onclick="location.href='/back/addMenu'">添加新菜</button>
                    </div>
                </div>
            </section>
        </section>
        <footer style="padding: 0;">
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>
                                    <span>&copy; 襄阳牛肉面 2021 All right reserved. </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul id="sbiao" style="display: -webkit-box;">
                                <li>telephone：13177754877</li>
                                <li>email：2020990145@qq.com</li>
                                <li>address：武汉CBD襄阳牛肉面</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/materialize/js/materialize.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.pack.js"></script>
    <script src="/js/jquery.fancybox-media.js"></script>
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/animate.js"></script>
    <!-- Vendor Scripts -->
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/animate.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>