<html>
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <style>
        .text li{
            list-style: none;
            text-align: left;
            font-size: 2.5em;
            padding:15px;
        }
        .text ul{
            padding-left: 510px;
        }
    </style>
</head>
<body>
<div class="text">
<ul>
    <li>=====登录成功!=====</li>
    <li>====用户信息如下====</li>

    <li>用户名: {{userName}} </li>


    <li>姓&nbsp;&nbsp;&nbsp;名: {{name}} </li>


    <li>密&nbsp;&nbsp;&nbsp;码: {{password}} </li>

</ul>
</div>

</body>
</html>
